html {
  scrollbar-gutter: stable;
}

body {
	width: 90%;
	max-width: 70rem;
	margin: 0 auto;
	font-family: Georgia;
	font-size: 1.2rem;
	background-color: #1e1e1e;
	color: #e5e5e5;
}

.name_heading {
	margin-bottom: 0.8rem;
}

header {
	margin-bottom: 2rem;
}

.title {
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: #7fc1fb;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 1.05rem;
	background-color: #2e2e2e;
	padding: 0.5rem;
	tab-size: 4;
}

.inline_code {
	font-size: 1.05rem;
	background-color: #3a3a3a;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}